@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: Spartan;
  color: rgb(252, 166, 180);
  font-weight: bolder;
  padding: 20px;
}
h3 {
  font-family: Spartan;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  background-color: #e9ecef;
  margin: 0;
  padding-top: 20px;
}